## 문자열 함수

```python
str = "hello world"
```

문자열 길이 구하기(len)

In [ ]:
# 문자열 길이 

str = "hello world"
len(str)

11

In [ ]:
str = 'hello world'
len(str)

11

특정 문자의 위치 찾기(find/index)

In [ ]:
# 특정 문자의 위치 찾기

# find -> 찾는 문자가 없을 시 return -1
find_str = str.find('o')
find_str

4

In [ ]:
find_str = str.find('o')
find_str

4

In [ ]:
# index -> 찾는 문자가 없을 시 error
find_str2 = str.index('z')
find_str2

In [ ]:
find_str2 = str.index('z')
find_str2

ValueError: ignored

문자열을 대문자로 만들어주기(upper)

In [ ]:
upper_str = str.upper()
upper_str

'HELLO WORLD'

In [ ]:
upper_str = str.upper()
upper_str

'HELLO WORLD'

문자열을 소문자로 만들어주기(lower)

In [ ]:
lower_str = str.lower()
lower_str

'hello world'

In [ ]:
lower_str = str.lower()
lower_str

'hello world'

양쪽 공백 없애기(strip)

In [ ]:
str2 = " have a nice day! "

In [ ]:
strip_str = str2.strip()
strip_str

'have a nice day!'

In [ ]:
str2 = ' have a nice day! '
strip_str = str2.strip()
strip_str

'have a nice day!'

특정 문자열로 바꾸기(replace)

In [ ]:
replace_str = str2.replace("nice", 'bad')
replace_str

#+) 만약 바꾸려는 문자열이 없으면 어떻게 나올까요? 실습해봅시다.

' have a bad day! '

In [ ]:
replace_str = str2.replace('nice','bad')
replace_str

' have a bad day! '

In [ ]:
replace_str = str2.replace('nice','bad')
replace_str

' have a bad day! '

문자열 나누기(split)  
괄호안에 `  ` 공백이면 공백을 기준으로,
('.')이면 `.`을 기준으로

In [ ]:
split_str = str2.split()
split_str

['have', 'a', 'nice', 'day!']

In [ ]:
split_str = str2.split()
split_str

['have', 'a', 'nice', 'day!']

문자열 입력(input)

In [ ]:
a = input()

1234

In [ ]:
a = input()

123

In [ ]:
a

'1234'

In [ ]:
a

'123'

+) 변수 두개 한 번에 저장

In [ ]:
a, b = 3, 5
print(a)
print(b)

3
5

In [ ]:
a, b = 4,6
print(a)
print(b)

4
6

print문 알아두면 좋은 옵션

In [ ]:
# seperater(구분자)
print('A','B', sep = '~')

A~B

In [ ]:
print('A','B', sep = '~')

A~B

In [ ]:
print('a','b', sep = ',')

a,b

In [ ]:
# end (뒤의 출력값과 이어서 출력, 줄바꿈 안 해도 됨)
print("I like", end=" ")
print("money")

print("I like", end=" gold and ")
print("money")

I like money
I like gold and money

## 퀴즈 ⚡

위에서 배운 내용과 앞서 배운 내용을 이용하여 아래 문제를 풀어주세요

1. 문자 1개 입력받아 그대로 출력하기
(어떤 문자든 OK)

In [ ]:
# GO
str = input()
print(str)

maratang
maratang

2. 정수 1개 입력받아 int로 변환하여 출력하기

In [ ]:
# GO

num = int(input())
print(num)

5
5

3. 실수 1개 입력받아 변환하여 출력하기

In [ ]:
# GO
num1 = float(input())
print(int(num1))

5.6
5

4. 정수 2개 입력받아 그대로 출력하기

In [ ]:
# GO
num3 = int(input())
num4 = int(input())
print(num3, num4)

3
5
3 5

55. 문자 2개 입력받아 순서 바꿔 출력하기

In [ ]:
# GO
str3 = input()
str4 = input()
print(str4, str3)

chocolate
candy
candy chocolate

6. 실수 1개 입력받아 3번 출력하기

In [ ]:
# GO
num5 = int(input())
print(num5, num5, num5)

8
8 8 8

7. 정수 2개를 입력받아 그대로 출력하기2  
(단, 한 번에 정수를 입력 받아야함.)

In [ ]:
# GO
num6 = input()
num7, num8 = num6.split()
num7, num8

1 2

('1', '2')

8. 문자 2개 입력받아 순서 바꿔 출력하기2  
(단, 한 번에 정수를 입력 받아야함.)

In [ ]:
# GO
str5 = input()
str6, str7 = str5.split()
print(str7, str6)

hi hello
hello hi

9. 현재 시간을 입력받아 그대로 출력하기  
(단, 시간의 형식을 지켜주세요. `ex) 22:42`)

In [ ]:
# GO
time = input()
time1, time2 = time.split()
print(time1, time2, sep=':')

8 43
8:43

10. 연월일 입력받아 순서 바꿔 출력하기  
(단, 입력시 연월일을 구분 할 때 `.`을 사용하고,  기호를 `.`을 기준으로 잘라주세요, 그리고 `-` 기호를 구분자로 하여 출력하세요.)

In [ ]:
# GO
time3 = input()
time4, time5, time6 = time3.split('.')
print(time6, time5, time4, sep = '-')

2022.1.20
20-1-2022

11. `마라탕, 떡볶이, 족발, 소주, 맥주, 먹고싶다` 를 입력 받고, `먹고싶다`를 본인이 원하는 음식으로 바꿔서 출력하기

In [ ]:
# GO
str8 = input()
str9 = str8.replace('먹고싶다', '닭발')
str9

마라탕, 떡볶이, 족발, 소주, 맥주, 먹고싶다

'마라탕, 떡볶이, 족발, 소주, 맥주, 닭발'

## +) 출력문

### 포멧(format)

자주 사용되는 포멧 자료형

- 정수 : d
- 실수 : f
- 문자열 : s

1. % 포멧팅  
`%자료형%value`

In [ ]:
a = 100
print('%d'%a)

100

## 리스트
### 순서가 있고 수정 가능한 자료구조

리스트명 = [value1, value2, value3, ... ]

In [ ]:
l1 = [1, 2, 4, 5]

In [ ]:
l2 = ['apple', 'pie']

In [ ]:
l2

['apple', 'pie']

In [ ]:
l2[1]

'pie'

In [ ]:
a = [1,2,3,[4,5,6]]

In [ ]:
a

[1, 2, 3, [4, 5, 6]]

In [ ]:
a[-1]

[4, 5, 6]

In [ ]:
a[3][1]

5

리스트 연산하기

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]

In [ ]:
a + b

[1, 2, 3, 4, 5, 6]

In [ ]:
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
len(a)

3

In [ ]:
a[2] = 5

In [ ]:
a

[1, 2, 5]

리스트 요소 삭제하기(del)

In [ ]:
del a[1]

In [ ]:
age =[23, 22, 21]

In [ ]:
del age[0]
age

[22, 21]

In [ ]:
a

[1]

리스트에 요소 추가(append)

In [ ]:
list1 = [1,2,3,4,5]

In [ ]:
list1.append('a')

In [ ]:
list1

[1, 2, 3, 4, 5, 'a']

리스트 정렬(sort)

In [ ]:
list2 = [1,5,6,3,2,4,5]

In [ ]:
list2.sort()
list2

[1, 2, 3, 4, 5, 5, 6]

In [ ]:
list3 = [1,5,6,3,2,4]
for i in range(len(list3)):
  j = len(list3) - i
  for k in range(1,j):
    if list3[k-1] >= list3[k]:
      tmp = list3[k-1]
      list3[k-1] = list3[k]
      list3[k] = tmp

list3

[1, 2, 3, 4, 5, 6]

리스트 뒤집기(reverse)

In [ ]:
ap = [1,2,3,4]
ap.reverse()
ap

[4, 3, 2, 1]

리스트의 요소 위치 반환(index)

In [ ]:
ap.index(1)

3

In [ ]:
app = ['banana', 'apple']

In [ ]:
app.index('banana')

0

리스트에 요소 삽입(insert)

In [ ]:
ap.insert(2, '4')
ap

[4, 3, '4', 2, 1]

리스트 요소 제거(remove)

In [ ]:
ap.remove(2)
ap

[4, 3, '4', 1]

In [ ]:
ap.remove(2)
ap

[4, 3, '4', 1]

리스트 요소 뽑기(pop)

In [ ]:
# a.pop() -> 맨 마지막 요소 제거
ap.pop(1)
ap

[4, '4', 1]

리스트에 포함된 요소 X의 개수(count)

In [ ]:
hist = [1,1,2,3,3,4,4,5,5,6,6]

In [ ]:
hist.count(1)

2

리스트의 최대값과 최소값(max, min)

In [ ]:
nums = [1,2,3]

In [ ]:
max(nums)

3

In [ ]:
min(nums)

1

리스트의 합(sum)

In [ ]:
sum(nums)

6

리스트 문자열 합치기(join)

```python
'구분자'.join(리스트)
```

## 퀴즈 - 리스트 ⚡

위에서 배운 내용과 앞서 배운 내용을 이용하여 아래 문제를 풀어주세

### 2022년 1월 영화 예매 순위 기준 top3는 다음과 같습니다.   
영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

1. 스파이더맨: 노 웨이 홈
2. 씽2게더
3. 킹스맨: 퍼스트 에이전트

In [ ]:
movie_rank = ['스파이더맨:노 웨이 홈','씽2게더','킹스맨:퍼스트 에이전트']
movie_rank

['스파이더맨:노 웨이 홈', '씽2게더', '킹스맨:퍼스트 에이전트']

리스트에 "극장판 귀멸의 칼날: 무한열차편"을 추가해주세요.

In [ ]:
movie_rank.insert(3, '극장판 귀멸의 칼날:무한열차편')
movie_rank

['스파이더맨:노 웨이 홈', '씽2게더', '킹스맨:퍼스트 에이전트', '극장판 귀멸의 칼날:무한열차편']

movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 있습니다.  
"미니언즈"을 "스파이더맨: 노 웨이 홈"와 "씽2게더" 사이에 추가해주세요.

In [ ]:
movie_rank.insert(1, '미니언즈')
movie_rank

['스파이더맨:노 웨이 홈', '미니언즈', '씽2게더', '킹스맨:퍼스트 에이전트', '극장판 귀멸의 칼날:무한열차편']

movie_rank 리스트에서 "씽2게더"를 삭제해주세요.

In [ ]:
movie_rank.remove('씽2게더')
movie_rank

['스파이더맨:노 웨이 홈', '미니언즈', '킹스맨:퍼스트 에이전트', '극장판 귀멸의 칼날:무한열차편']

movie_rank 리스트에서 '미니언즈' 과 '극장판 귀멸의 칼날: 무한열차편'를 삭제하세요.

In [ ]:
movie_rank.remove('미니언즈')
movie_rank.remove('극장판 귀멸의 칼날:무한열차편')
movie_rank

['스파이더맨:노 웨이 홈', '킹스맨:퍼스트 에이전트']

lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만드세요.
```
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
```
실행 예:
```
langs
['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']
```

In [ ]:
lang1 = ['C', 'C++', 'JAVA']
lang2 = ['Python', 'Go', 'C#']
langs = lang1 + lang2
print('langs\n',langs)

langs
 ['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

다음 리스트에서 최댓값과 최솟값을 출력하세요.
```
nums = [1, 4, 5, 6, 7, 8, 102, 411, 23, -12]
```

실행 예:
```
max:  411
min:  -12
```
(힌트: min(), max() 함수 사용)

In [ ]:
nums = [1, 4, 5, 6, 7, 8, 102, 411, 23, -12]

print('max: ', max(nums))
print('min: ', min(nums))

max:  411
min:  -12

ㅔ갸ㅇnums 리스트의 합과 평균을 출력하세요.

In [ ]:
print('합: ',sum(nums))
print('평균: ',sum(nums)/10)

합:  555
평균:  55.5

price 변수에는 날짜와 종가 정보가 저장되어 있습니다.  
날짜 정보를 제외하고 가격 정보만 출력하세요. (힌트 : 슬라이싱)

```
price = ['20220120', 100, 130, 140, 150, 160, 170]
```

In [ ]:
price = ['20220120', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

다음 리스트에서 슬라이싱을 사용해서 홀수만 출력하세요.
```
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
```

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

interest 리스트에는 아래의 데이터가 저장되어있습니다.  
interest 리스트를 사용해 아래와 같이 출력하세요.

```python
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
```

출력 예시:
```python
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우
```

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

interest1 = ' '.join(interest)
print(interest1)

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

interest 리스트를 사용해 아래와 같이 출력하세요.

출력 예시:
```python
삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우
```

In [ ]:
for i in range(5):
  print(interest[i],'\n')

삼성전자

LG전자

Naver

SK하이닉스

미래에셋대우

회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있습니다.

```
string = "삼성전자/LG전자/Naver"
```

이를 interest2 이름의 리스트로 분리 저장하세요.  

출력 예시
```
print(interest)
['삼성전자', 'LG전자', 'Naver']
```

In [ ]:
string = "삼성전자/LG전자/Naver"

interest2 = string.split('/')
interest2

['삼성전자', 'LG전자', 'Naver']

data 리스트에 있는 값을 오름차순으로 정렬하세요.

```
data = [2, 4, 3, 1, 5, 10, 9]
```

In [ ]:
data = [2, 4, 3, 1, 5, 10, 9]

data.sort()
data

[1, 2, 3, 4, 5, 9, 10]