# 이름 :

1. my_variable 이름의 비어있는 튜플을 만들라.

In [1]:
my_variable = ()

2. 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

In [2]:
movie_rank = ('영화', '제목이', '뭘까용')

3. 숫자 1 이 저장된 튜플을 생성하라.

In [3]:
num = (1,)

4. 다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

```
>> t = (1, 2, 3)
>> t[0] = 'a'
Traceback (most recent call last):
  File "<pyshell#46>", line 1, in <module>
    t[0] = 'a'
TypeError: 'tuple' object does not support item assignmen

```

In [ ]:
#튜플은 수정 안되기 때문에 오류남

5. 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?

    ```
    t = 1, 2, 3, 4
    ```

In [5]:
t = 1, 2, 3, 4

type(t)

tuple

6. 변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.

```
t = ('a', 'b', 'c')

```

In [6]:
t = ('a', 'b', 'c')

t1 = ('A', 'b', 'c')

t = t1

t

('A', 'b', 'c')

7. 다음 튜플을 리스트로 변환하라.  
```
interest = ('삼성전자', 'LG전자', 'SK Hynix')
```

In [9]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')

list(interest)

['삼성전자', 'LG전자', 'SK Hynix']

8. 다음 리스트를 튜플로 변경하라.
```
interest = ['삼성전자', 'LG전자', 'SK Hynix']
```

In [11]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
tuple(interest)

('삼성전자', 'LG전자', 'SK Hynix')

9. 다음 코드의 실행 결과를 예상하라.

```
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)
```

In [12]:
apple banana cake  <- 나올거어어ㅓㄹ ㅎㅎㅎㅎㅎㅎㅎ

apple banana cake